body {
    background-color: white;
    font-family: "Arial" , sans-serif;
    padding: 5px 25px;
    font-size:  12px;
    margin: 0;
    color: pink
    }
     
    h1 {
    font-family: "Times New Roman" , serif;
    font-size: 90px;
    margin: 0;
    color: purple
    }
     h2 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
     h3 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
     h4 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
     h5 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    } 
    h6 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
     h7 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
     h8 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
     h9 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
     h10 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
     h11 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
     h12 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
     h13 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
     h14 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
     h15 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
     h16 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
     h17 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
     h18 {
    font-family: "Merriweather" , serif;
    font-size: 15px;
    margin: 0;
    color: red
    }
    p {
    font-family: "Merriweather" , serif;
    font-size: 45px;
    margin: 0;
    color: brown
    }
      foot {
    font-family: "Merriweather" , serif;
    font-size: 14px;
    margin: 0;
    color: grey
    }
    button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 30px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
      -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    }
    